[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["tinfoil", "tinfoil.attestation"]

[project]
name = "tinfoil"
version = "0.10.1"
description = "Python client for Tinfoil"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "openai>=1.63.0",
    "pybindgen>=0.22.0",
    "httpx>=0.28",
    "build>=1.2.0",
    "requests>=2.31.0",
    "cryptography>=42.0.0",
    "pyOpenSSL>=25.0.0",
    "sigstore>=4.1.0",
    "platformdirs>=4.2.0",
    "pytest-asyncio>=0.26.0"
]

[tool.pytest.ini_options]
markers = [
    "integration: marks tests as integration tests (require TINFOIL_* env vars)",
    "asyncio: mark test perfroming async io"
]
asyncio_mode = "strict"
asyncio_default_fixture_loop_scope = "function"
