[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "tinfoil"
version = "0.0.29"
description = "Python client for Tinfoil"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "openai>=1.63.0",
    "pybindgen>=0.22.0",
    "httpx>=0.28",
    "build>=1.2.0",
]
